<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="mituo.wshoto.com.mituo">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.FindPassActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.StorageActivity">
        </activity>
        <activity
            android:name=".ui.activity.OrderDetailActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".ui.activity.RecordActivity">
        </activity>
        <activity android:name=".ui.activity.CarInfoActivity">
        </activity>
        <activity android:name=".ui.activity.RepairObjectsActivity">
        </activity>
        <activity android:name=".ui.activity.CheckReport2Activity">
        </activity>
        <activity android:name=".ui.activity.CheckReportActivity">
        </activity>
        <activity android:name=".ui.activity.GatherActivity">
        </activity>
        <activity android:name=".ui.activity.HandWriteActivity">
        </activity>
        <activity android:name=".ui.activity.FindPass2Activity">
        </activity>
        <activity android:name=".ui.activity.ChangePassSuccessActivity">
        </activity>
        <activity android:name=".ui.activity.ChangePassActivity">
        </activity>
        <activity android:name=".ui.activity.CaptureActivity">
        </activity>
        <activity android:name=".ui.activity.AddRepairObjsActivity">
        </activity>
        <activity android:name=".ui.activity.SaoPayActivity">
        </activity>
        <activity android:name=".ui.activity.CheckReport3Activity">
        </activity>
        <activity android:name=".ui.activity.SearchActivity">
        </activity>
    </application>

</manifest>